MYSQL_ROOT_PASSWORD=replace-mysql-root-password
MYSQL_DATABASE=dbmanager
MYSQL_USER=db_admin
MYSQL_PASSWORD=replace-mysql-admin-password
MYSQL_READ_USER=db_read
MYSQL_READ_PASSWORD=replace-mysql-read-password
MYSQL_PORT=3306
DASHBOARD_PORT=8443
DASHBOARD_SUPERADMIN_USERNAME=replace-superadmin-username
DASHBOARD_SUPERADMIN_PASSWORD=replace-superadmin-password
DASHBOARD_ADMIN_USERNAME=replace-admin-username
DASHBOARD_ADMIN_PASSWORD=replace-admin-password
DASHBOARD_USER_USERNAME=replace-user-username
DASHBOARD_USER_PASSWORD=replace-user-password
DOMAIN=
CERT_EMAIL=
