MYSQL_ROOT_PASSWORD=replace-mysql-root-password
MYSQL_DATABASE=dbmanager
MYSQL_USER=db_admin
MYSQL_PASSWORD=replace-mysql-admin-password
MYSQL_READ_USER=db_read
MYSQL_READ_PASSWORD=replace-mysql-read-password
MYSQL_PORT=3306
DASHBOARD_PORT=8443
DOMAIN=
CERT_EMAIL=
